@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@300;500;700&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background-color: black;
  color: #B68D40;
}
*::selection {
  background-color: black;
  color: #B68D40;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

.text-center {
  text-align: center;
}

.text-content {
  margin-top: 40px;
}

section {
  width: 100%;
  height: 100%;
  color: #2a2a2a;
}

.frame-shadow {
  box-shadow: 5px 4px 5px -3px #333 !important;
}
.frame-shadow:hover {
  box-shadow: 5px 4px 5px -3px #B68D40 !important;
}

.bg-micolor {
  background-color: #B68D40;
}

.m-100 {
  margin: 100px;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

header {
  width: 100%;
  text-transform: capitalize;
  position: sticky;
  top: 0;
  background-color: #2a2a2a;
  z-index: 11;
}
header .navbar {
  width: 100%;
  height: 80px;
  color: #fff;
}
header .navbar .logo {
  font-size: 22px;
  font-weight: bold;
  margin-left: 25px;
}
header .navbar .logo a {
  color: #fff;
  text-decoration: none;
}
header .navbar .logo a:hover {
  color: #B68D40;
}
header .navbar .logo a:active {
  color: #B68D40;
}
header .navbar .logo a span {
  color: #B68D40;
}
header .navbar .logo a span:hover {
  color: #fff;
}
header .navbar .logo:hover {
  color: #B68D40;
}
header .navbar .logo:active {
  color: #B68D40;
}
@media only screen and (max-width: 371px) {
  header .navbar .logo {
    font-size: 18px;
  }
}
header .navbar .navbar-toggler-icon i {
  padding-top: 5px;
  color: #B68D40;
}
header .navbar .navbar-collapse .navbar-nav {
  margin: 0 auto;
}
header .navbar .navbar-collapse .navbar-nav .nav-item {
  text-align: center;
}
header .navbar .navbar-collapse .navbar-nav .nav-item ul li {
  text-align: center;
}
header .navbar .navbar-collapse .navbar-nav .nav-item a {
  text-decoration: none;
  color: #fff;
  background-color: #2a2a2a;
  border: 1px solid #2a2a2a;
  transition: all 1s ease-in-out;
  margin-right: 5px;
}
header .navbar .navbar-collapse .navbar-nav .nav-item a:hover {
  color: #B68D40;
  border: 1px solid #B68D40;
}
header .navbar .navbar-collapse .navbar-nav .nav-item a:active {
  color: #B68D40;
  border: 1px solid #B68D40;
}
header .navbar .navbar-collapse .navbar-nav .nav-item a:active:focus {
  color: #B68D40;
}
header .navbar .navbar-collapse .accion {
  height: 80px;
  color: #fff;
  margin-right: 25px;
  background-color: #000;
  border: 3px solid #999;
  padding: 15px;
  text-align: center;
  font-size: 16px;
  justify-content: center;
  box-shadow: 0 0 5px #fff;
}
@media only screen and (max-width: 991px) {
  header .navbar .navbar-collapse .accion {
    margin: 0 auto;
  }
}

@media (max-width: 371px) {
  .logo {
    font-size: 18px;
  }
}
.boton, .boton-small, .boton-alt {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  background: #B68D40;
  color: #eee;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 1.4px;
  opacity: 1 !important;
  cursor: pointer;
  text-align: center;
  transition: padding 1.5s;
}
.boton:hover, .boton-small:hover, .boton-alt:hover {
  background-color: #2a2a2a;
  padding: 20px 30px;
  color: #B68D40;
}

.boton-alt {
  padding: 10px 30px;
  background: #2a2a2a;
  margin-left: auto;
}
.boton-alt:hover {
  background-color: #B68D40;
  padding: 20px 30px;
  color: #2a2a2a;
}

.boton-small {
  padding: 6px 10px;
  font-size: 14px;
  background: #B68D40;
  margin-left: auto;
  border: 2px solid #B68D40;
}
.boton-small:hover {
  background-color: #2a2a2a;
  border: 2px solid #B68D40;
  color: #B68D40;
}

.circulito {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #B68D40;
  transition: all 10s ease-in-out;
  animation: circulito-animation 10s ease-in-out infinite;
}
.circulito:hover {
  width: 10px;
  height: 10px;
  border: 2px solid #eee;
}

@media only screen and (max-width: 466px) {
  .circulito {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 467px) and (max-width: 600px) {
  .circulito {
    margin-bottom: 40px;
  }
}
@keyframes circulito-animation {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(200px);
    background-color: #B68D40;
  }
  100% {
    transform: translateX(100%);
  }
}
@media only screen and (max-width: 466px) {
  .circulito {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 467px) and (max-width: 600px) {
  .circulito {
    margin-bottom: 40px;
  }
}
.love {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background: red;
  position: relative;
  top: 1rem;
  left: 1rem;
  animation: beating 2s ease infinite;
}
.love:before {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 0;
  left: -10px;
}
.love:after {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: -10px;
}

@keyframes beating {
  0% {
    transform: rotate(45deg) scale(1);
  }
  50% {
    transform: rotate(45deg) scale(1.5);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}
main {
  height: calc(100vh - 80px);
  height: 100vh;
  width: 100%;
  background-color: #333;
  background-image: url(../img/lawblack.jpg);
  background-size: cover;
  background-position: center top 3px;
  position: relative;
}
main .cto {
  position: absolute;
  bottom: 15%;
  left: 10%;
  color: #fff;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #B68D40;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  text-align: left;
}
main .cto h1 {
  color: #eee;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-shadow: 5px 5px 10px #333;
}
main .cto p {
  margin-bottom: 25px;
}
@media only screen and (min-width: 0px) and (max-width: 599px) {
  main .cto {
    width: 90%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  main .cto {
    width: 60%;
  }
}

marquee {
  display: flex;
  text-align: center;
  background-color: #eee;
  border-top: 1px solid #2a2a2a;
  border-bottom: 3px solid #B68D40;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 10px;
  font-weight: 300;
  font-size: 20px;
  color: #B68D40;
  margin-bottom: 0px;
}

.grid-container-circles {
  margin: 50px auto;
  width: 100%;
  height: auto;
  display: grid;
}
.grid-container-circles .grid-item {
  border-radius: 50%;
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.grid-container-circles .circle {
  display: flex;
  height: 180px;
  width: 180px;
  align-items: center;
  border-radius: 100%;
  color: #fff;
  background: linear-gradient(#eee, #2a2a2a, #B68D40);
  border: 5px solid rgb(240, 233, 233);
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  padding: 10px;
  transition: all 2s ease-in-out;
  animation: circle-animation 2s;
}
.grid-container-circles .circle:hover {
  background: linear-gradient(#B68D40, #eee, #B68D40);
  color: #000;
  border: 5px solid #B68D40;
}
.grid-container-circles .circle a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.grid-container-circles .circle a:hover {
  color: #000;
}

@keyframes circle-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@media (min-width: 850px) {
  .grid-container-circles {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-around;
  }
}
@media (min-width: 650px) and (max-width: 849px) {
  .grid-container-circles {
    justify-content: space-around;
    grid-column-gap: 30px;
    grid-template-areas: "one one two two three three" "four four four five five five";
  }
  .grid-item:nth-child(1) {
    grid-area: one;
    justify-self: right;
  }
  .grid-item:nth-child(2) {
    grid-area: two;
    justify-self: center;
  }
  .grid-item:nth-child(3) {
    grid-area: three;
    justify-self: left;
  }
  .grid-item:nth-child(4) {
    grid-area: four;
    margin-right: 0;
    margin-top: -20px;
  }
  .grid-item:nth-child(5) {
    grid-area: five;
    margin-left: 0;
    margin-top: -20px;
  }
}
@media (min-width: 490px) and (max-width: 649px) {
  .grid-container-circles {
    justify-content: space-around;
    grid-column-gap: 50px;
    grid-template-areas: "one two" "three three" "four five";
  }
  .grid-item {
    height: 150px;
    width: 150px;
  }
  .grid-item:nth-child(1) {
    grid-area: one;
  }
  .grid-item:nth-child(2) {
    grid-area: two;
  }
  .grid-item:nth-child(3) {
    grid-area: three;
    justify-self: center;
    margin-top: -70px;
  }
  .grid-item:nth-child(4) {
    grid-area: four;
    margin-top: -70px;
  }
  .grid-item:nth-child(5) {
    grid-area: five;
    margin-top: -70px;
  }
}
@media (max-width: 489px) {
  .grid-container-circles {
    width: 100%;
    grid-template-columns: auto;
  }
  .grid-item:nth-child(1) {
    justify-self: left;
  }
  .grid-item:nth-child(2) {
    justify-self: right;
    margin-top: -30px;
  }
  .grid-item:nth-child(3) {
    justify-self: left;
    margin-top: -30px;
  }
  .grid-item:nth-child(4) {
    justify-self: right;
    margin-top: -30px;
  }
  .grid-item:nth-child(5) {
    justify-self: left;
    margin-top: -30px;
  }
}
.frame-shadow {
  box-shadow: 5px 4px 5px -3px #333 !important;
}
.frame-shadow:hover {
  box-shadow: 5px 4px 5px -3px #B68D40 !important;
}

.inner-text {
  height: 100%;
  margin-left: 100px;
}
.inner-text h2 {
  margin: 80px auto 10px;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 1.8px;
}
.inner-text p {
  font-size: 24px;
  line-height: 1.1;
}
.inner-text ul {
  margin-top: 50px;
  width: 100%;
}
.inner-text ul li {
  margin-bottom: 55px;
  width: 100%;
  font-size: 30px;
}
.inner-text ul li a {
  text-decoration: none;
  color: #2a2a2a;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  background-color: #fff;
  padding: 15px;
  border-bottom: 1px dotted #2a2a2a;
  margin-bottom: 50px;
}
.inner-text ul li a:hover {
  text-decoration: none;
  color: #606060;
  box-shadow: 4px 4px 6px -3px #333 !important;
}
.inner-text ul li i {
  color: #B68D40;
  border-radius: 50%;
}
.inner-text ul li .i-1 {
  background-color: #987635;
}
.inner-text ul li .i-2 {
  background-color: #7a5e2b;
}
.inner-text ul li .i-3 {
  background-color: #5b4720;
}
.inner-text ul li .i-4 {
  background-color: #3d2f16;
}
.inner-text ul li .i-5 {
  background-color: #1f180b;
}

@media only screen and (max-width: 466px) {
  .inner-text {
    margin-left: 10px;
  }
  .inner-text h2 {
    font-size: 30px;
  }
}
.text-image {
  position: absolute;
  top: 50px;
  left: 40px;
  margin: 15px 20px;
}
.text-image h3 {
  color: #fff;
  font-size: 28px;
  line-height: 1.2;
  max-width: 400px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  letter-spacing: 1.5px;
  font-weight: bold;
  text-shadow: 2px 2px #000;
}

.banner-dark {
  background-color: #000;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-dark1 {
  padding-top: 80px;
  padding-bottom: 30px;
}
.banner-dark1 h2 {
  font-size: 40px;
  margin-bottom: 15px;
  letter-spacing: 1.8px;
}
.banner-dark1 p {
  font-size: 23px;
  margin-bottom: 30px;
}
.banner-dark1 a {
  margin: 0 auto;
  margin-bottom: 80px;
}
@media (max-width: 455px) {
  .banner-dark1 .banner-dark1 a {
    padding: 10px 7px;
    font-size: 16px;
  }
}

.banner-dark2 {
  height: 100%;
  padding: 30px 0px;
  flex-shrink: initial;
  margin-top: 0px;
}
.banner-dark2 h2 {
  width: 60%;
  margin: 0 auto;
  padding: 70px 0 10px;
  font-size: 45px;
  line-height: 1.1;
  letter-spacing: 6px;
  margin-bottom: 30px;
  text-align: center;
}
.banner-dark2 p {
  font-size: 23px;
  margin-bottom: 30px;
}
.banner-dark2 a {
  margin-bottom: 70px;
}
@media only screen and (max-width: 455px) {
  .banner-dark2 h2 {
    width: 100%;
    font-size: 30px;
  }
}

.testimonios {
  margin: 100px auto 100px;
  padding: 0 50px;
}
.testimonios h2 {
  font-size: 40px;
  letter-spacing: 1.8px;
  margin-bottom: 40px;
}
.testimonios .testi {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.testimonios .testi .testimonio {
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-top: 25px;
}
.testimonios .testi .testimonio:hover {
  box-shadow: 4px 4px 6px -3px #B68D40 !important;
}
.testimonios .testi .testimonio h4 {
  margin-bottom: 15px;
}

@media only screen and (max-width: 466px) {
  .testimonios {
    padding: 0 20px;
  }
  .testimonios h2 {
    font-size: 30px;
  }
}
/* Testimonios hover solo en index.html */
.pepito:hover {
  color: #eee;
  background-color: #B68D40;
}

.juanito:hover {
  color: #eee;
  background-color: #eee;
  color: #2a2a2a;
}

.pedrito:hover {
  color: #eee;
  background-color: #B68D40;
}

#nosotros {
  background-image: url("../img/porque.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
}
#nosotros .nosotros .nos {
  float: right;
  max-width: 90%;
  padding: 60px;
  background: rgba(255, 255, 255, 0.8);
  height: 100vh;
}
#nosotros .nosotros .nos h2 {
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-size: 40px;
  font-weight: 700;
}
#nosotros .nosotros .nos p {
  margin-bottom: 15px;
}
#nosotros .nosotros .nos i {
  font-size: 30px;
  margin-bottom: 15px;
  color: #B68D40;
}
@media only screen and (max-width: 466px) {
  #nosotros .nosotros .nos {
    max-width: 100%;
    padding: 30px 15px 25px;
  }
}
@media only screen and (min-width: 467px) and (max-width: 600px) {
  #nosotros .nosotros .nos {
    max-width: 80%;
    padding: 50px 20px 0px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1100px) {
  #nosotros .nosotros .nos {
    max-width: 60%;
    padding: 50px 20px 0px;
  }
}
@media only screen and (min-width: 1200px) {
  #nosotros .nosotros .nos {
    max-width: 60%;
  }
}

#contacto .card-contacto {
  margin: 55px;
  padding: 30px;
  border-radius: 10% 0%;
}
#contacto .card-contacto .card-body {
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
#contacto .card-contacto .card-body .contacto-details {
  margin-top: 40px;
}
#contacto .card-contacto .card-body .contacto-details i {
  color: #B68D40;
  font-size: 25px;
  margin-right: 10px;
}
#contacto .card-contacto .card-body .contacto-details i:hover {
  color: #999;
}
#contacto .card-contacto .card-body .contacto-details i .whatp {
  color: #3da733;
  font-size: 35px;
  margin-left: 10px;
}
@media only screen and (min-width: 0px) and (max-width: 599px) {
  #contacto .card-contacto {
    margin: 5px;
  }
}
#contacto .mensaje {
  margin-top: 50px;
  border: 2px solid #B68D40;
  padding: 15px;
  text-align: center;
}

.form {
  margin-top: -50px;
}
.form .f-banner {
  padding-top: 100px;
}
.form .formulario {
  max-width: 100%;
  margin-bottom: 50px;
  padding-top: 60px;
}
.form .formulario .inner-form {
  margin: 30px;
}
.form .formulario p {
  color: #eee;
  margin-bottom: 50px;
}
.form .formulario .form {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}
.form .formulario .form label {
  text-transform: uppercase;
  color: #eee;
  font-size: 25px;
}
.form .formulario .form input[type=submit] {
  text-decoration: none;
  padding: 10px 30px;
  font-size: 20px;
  background: #2a2a2a;
  color: #fff;
  margin-left: auto;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 1.4px;
  opacity: 1 !important;
  cursor: pointer;
}
.form .formulario .form input[type=text] {
  padding: 10px 15px;
  width: 100%;
  background-color: #fff;
}
.form .formulario .form textarea {
  width: 100%;
  font-size: 20px;
  background-color: #fff;
}
.form .formulario h2 {
  text-align: center;
}

.contact-page {
  margin-top: 0px !important;
}

.contacto h2 {
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 70px;
}
.contacto .con p {
  margin-bottom: 15px;
}
.contacto i {
  font-size: 30px;
  margin-bottom: 15px;
  color: #B68D40;
}

footer {
  text-align: center;
  font-size: 30px;
  background-color: #000;
  color: #eee;
  padding-top: 20px;
}
footer .logo span {
  color: #B68D40;
}
footer .menu a {
  color: #fff;
}
footer .menu a:hover {
  color: #B68D40;
}
footer p {
  font-size: 20px;
  margin-bottom: 15px;
}
footer .practices {
  margin-bottom: 20px;
}
footer .practices h4 {
  color: #B68D40;
}
footer .practices ul {
  margin: 20px auto;
  max-width: 300px;
  font-size: 20px;
  margin-bottom: 20px;
}
footer .practices ul li a {
  text-decoration: none;
  color: #fff;
}
footer .practices ul li a:hover {
  color: #B68D40;
}
footer footer .practices footer ul {
  margin: 20px auto;
  max-width: 300px;
  font-size: 20px;
  margin-bottom: 20px;
}
footer .redes i {
  font-size: 30px;
  letter-spacing: 28px;
  color: #eee;
}
footer .redes i:hover {
  color: #fff;
}
footer .accion {
  justify-content: center;
}

.subir {
  height: 40px;
  width: 40px;
  background-color: #B68D40;
  color: #fff;
  position: fixed;
  right: 40px;
  bottom: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  box-shadow: 0 0 5px #fff;
}

.whatsapp {
  position: fixed;
  bottom: 45px;
  left: 4%;
  z-index: 100;
}

.whatsapp img {
  max-width: 60px;
}

.hero {
  height: calc(70vh - 80px);
  width: 100%;
  background-color: #2a2a2a;
  background-image: url(../img/blog.jpg);
  background-size: cover;
  background-position: center top 3px;
  position: relative;
}
.hero .page-title {
  position: absolute;
  bottom: 10%;
  left: 8%;
  color: #fff;
  padding: 25px 12px;
  font-family: "Roboto", sans-serif;
  text-align: left;
}
.hero .page-title h1 {
  font-size: 45px;
  padding-bottom: 15px;
  border-bottom: 2px solid #B68D40;
  letter-spacing: -2px;
}
.hero .page-title p {
  margin-bottom: 35px;
}
.hero .page-title p .bread:hover {
  color: rgb(62, 61, 61);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
.hero .page-title a {
  color: #fff;
  margin-right: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-decoration: none;
}

.inner-center {
  text-align: center;
}
.inner-center h2 {
  font-size: 40px;
  letter-spacing: 1.8px;
  margin-bottom: 70px;
  color: #2a2a2a;
  border-bottom: 2px solid #B68D40;
}
.inner-center p {
  margin-bottom: 15px;
}
.inner-center p::first-letter {
  font-size: 140%;
  font-weight: bold;
  color: #B68D40;
}

.inner-left {
  text-align: left;
  margin: 100px 10px;
}
.inner-left h2 {
  font-size: 40px;
  letter-spacing: 1.8px;
  margin-bottom: 60px;
  color: #2a2a2a;
  border-bottom: 2px solid #B68D40;
}
.inner-left p {
  font-size: 18px;
  line-height: 25px;
}

.botones {
  margin: 80px auto;
  text-align: center;
}

.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px auto;
  /* vista mobile */
}
.features .feature {
  width: 30%;
  min-height: 400px;
  background-color: #2a2a2a;
  color: #eee;
  padding: 40px 10px;
  margin-bottom: 20px;
  text-align: center;
  flex: 1 1 auto;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.features .feature h2 {
  color: #B68D40;
  font-size: 28px;
  letter-spacing: 1.8px;
  margin-bottom: 20px;
  border-bottom: 2px solid #B68D40;
  text-transform: uppercase;
  text-align: center;
}
.features .feature p {
  margin-bottom: 20px;
  flex: 1 1 auto;
}
.features .feature a {
  color: #eee;
  text-decoration: none;
  margin: 0 auto;
}
@media only screen and (min-width: 0px) and (max-width: 599px) {
  .features .hero {
    height: 80vh;
  }
  .features .features {
    flex-direction: column;
  }
  .features .feature {
    width: 100%;
  }
  .features .inner-left h2 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 991px) {
  .features .feature {
    width: 45% !important;
  }
}
.features .feature--dashed {
  border: 5px dashed #B68D40;
}
.features .feature--dotted {
  border: 5px dotted #eee;
}
.features .feature--ridge {
  border: 5px ridge red;
}
.features .feature--solid {
  border: 5px solid #999;
}
.features .feature--groove {
  border: 5px groove #606060;
}

#practica {
  background-image: url("../img/accidente.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  height: 100%;
  position: relative;
  background-color: #fff;
  /*     @media only screen and (min-width: 601px) and (max-width: 1200px) {
          .practica-descripcion {
              max-width: 60%;
              padding: 50px 20px 0px;    
          }   
      } */
}
#practica .practica-descripcion {
  float: right;
  max-width: 60%;
  padding: 80px 60px 40px;
  background: rgba(255, 255, 255, 0.8);
  height: 100%;
}
#practica .practica-descripcion h2 {
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-size: 40px;
  font-weight: 700;
}
#practica .practica-descripcion p {
  margin-bottom: 15px;
}
#practica .practica-descripcion p i {
  font-size: 30px;
  margin-bottom: 15px;
  color: #B68D40;
}
@media (max-width: 1200px) {
  #practica .practica-descripcion {
    max-width: 100%;
    padding: 30px 15px;
  }
}/*# sourceMappingURL=estilos.css.map */