.features {

    @include displayflex();
    flex-wrap: wrap;
    margin: 30px auto;

    .feature {
        width: 30%;
        min-height: 440px;
        @include backgroundColor($myBlack, $blanco);
        padding: 40px 10px;
        margin-bottom: 20px;
        text-align: center; 
        flex: 1 1 auto;
        margin: 10px;
        @include displayflex();
        flex-direction: column;       
        text-align: center;

        h2 {
            color: $mainColor;
            font-size: 28px;
            letter-spacing: 1.8px;
            margin-bottom: 20px;
            border-bottom: 2px solid $mainColor;
            text-transform: uppercase;
            text-align: center;
        }

        p {  
            margin-bottom: 20px;
            flex: 1 1 auto;
        }

        a {
            color: #eee;
            text-decoration: none;
            margin: 0 auto;
        }

    }

    /* vista mobile */
@media only screen and (min-width: 0px) and (max-width: 599px) {
    .hero {
        height: 80vh;
    }
    .features {
        flex-direction: column;
    }

    .feature {
        width: 100%;  
    }
    
    .inner-left h2 {
        font-size: 30px;
    }
}

    @media only screen and (min-width: 600px) and (max-width: 991px) {
        .feature {
            width: 45% !important;  
        }
    }
    
    $mapa: (
        dashed: $mainColor,
        dotted: $blanco,
        ridge: red,
        solid: $grisClaro,
        groove: $myGris,
    );
    
    @each $border, $color in $mapa {
        .feature--#{$border} {
            border: 5px $border $color; 
        }
    }   
}


