* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::selection {
        background-color: black;
        color: $mainColor;
    }

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $fontBody;   
}

h1, h2, h3 {
    font-family: $fontH;
}

ul {
    list-style: none;
}

.text-center {
    text-align: center;
}

.text-content {
    margin-top: 40px;
    @include displayflex();
    flex-direction: column;

    p::first-letter {
        font-size: 140%;
		font-weight: bold;
		color: $mainColor;
    }
    
}

section {
	width: 100%;
	height: 100%;
	color: $myBlack;
}

.frame-shadow {
	-webkit-box-shadow: 5px 4px 5px -3px $grisOscuro !important;
	box-shadow: 5px 4px 5px -3px $grisOscuro !important;
	&:hover {
		-webkit-box-shadow: 5px 4px 5px -3px $mainColor !important;
		box-shadow: 5px 4px 5px -3px $mainColor !important;
	}
}

.bg-micolor {
    background-color: $mainColor;
}

.m-100 {
    margin: 100px;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}


