main {
    @include medidas($s100, 100vh);
    background-color: $grisOscuro;
    background-image: url(../img/lawblack.jpg);
    background-size: cover;
    background-position:  center top 3px;
    position: relative;

    .cto {
        position: absolute;
        bottom: 15%;
        left: 10%;
        width: 30%; 
        @include backgroundColor($mainShadow, $white); 
        border-bottom: 2px solid $mainColor;
        padding: 20px;
        font-family: $fontH;
        text-align: left;   

        h1 {
            color: $blanco;
            margin-bottom: 10px;
            text-transform: uppercase;
            text-shadow: $textShadowBig;
        }

        p {
            margin-bottom: 25px;
        }
    }

    @media only screen and (min-width: 0px) and (max-width: 599px) {
        .cto {
            width: 90%;  
        }
    }

    @media only screen and (min-width: 600px) and (max-width: 1200px) {
        .cto {
            width: 60%;  
        }
    }
}

marquee {
    display: flex;
    text-align: center;
    @include backgroundColor($blanco, $mainColor);
    border-top: 1px solid $myBlack;
    border-bottom: 3px solid $mainColor; 
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 10px;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 0px;
}

