#nosotros {

	background-image: url('../img/porque.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	position: relative;
	background-color: rgba(255,255,255,.8);
    
    .nosotros {

        .nos {
			float: right;
			max-width: 50%;
			padding: 80px 60px 60px;
			background: rgba(255,255,255,.8);
			height: 100vh;
            
            h2 {
                text-transform: uppercase;
                letter-spacing: 1.8px;
                font-size: $fs40;
                font-weight: 700;
            }
            
            p {
                margin-bottom: 15px;
            }
            
            i {
                font-size: 30px;
                margin-bottom: 15px;
                color: $mainColor;
            }
        }
        
    }
}
.nos {
	float: right;
	max-width: 50%;
	padding: 80px 60px 60px;
	background: rgba(255,255,255,.8);
	height: 100vh;
}
.nosotros {
	h2 {
		text-transform: uppercase;
		letter-spacing: 1.8px;
		font-size: 40px;
		font-weight: 700;
	}
	p {
		margin-bottom: 15px;
	}
	i {
		font-size: 30px;
		margin-bottom: 15px;
		color: $mainColor;
	}
}