.hero {
    height: calc(70vh - 80px);
    width: 100%;
    background-color: #2a2a2a;
    background-image: url(../img/blog.jpg);
    background-size: cover;
    background-position:  center top 3px;
    position: relative;

    .page-title {
        position: absolute;
        bottom: 10%;
        left: 8%;
        color: $white;      
        padding: 25px 12px;
        font-family: 'Roboto', sans-serif;
        text-align: left;  

        h1 {
            font-size: 45px;
            padding-bottom: 15px;
            border-bottom: 2px solid $mainColor;
            letter-spacing: -2px;
        }

        p {
            margin-bottom: 35px;

            .bread:hover {
                color: $fondoGris;
                text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
            }
        }

        a {
            color: $white;
            margin-right: 10px;
            text-transform: uppercase;
            letter-spacing: 5px;
            text-decoration: none;
        }
        

    }
}

.inner-center {
    text-align: center;

    h2 {
        font-size: $fs40;
        letter-spacing: 1.8px;
        margin-bottom: 70px;
        color: #2a2a2a;
        border-bottom: 2px solid $mainColor;
    }

    p {   
        margin-bottom: 15px;
    }

    p::first-letter {
        font-size: 130%;
    }
    
}

.inner-left {
    text-align: left;
    margin: 100px 10px;

    h2 {
        font-size: $fs40;
        letter-spacing: 1.8px;
        margin-bottom: 60px;
        color: #2a2a2a;
        border-bottom: 2px solid $mainColor;
    }

    p {
        font-size: 18px;
        line-height: 25px;
    }
}

.botones {
    margin: 80px auto;
    text-align: center;
}

