#practica {

    position: relative;
    background-color: $white;
    background-clip: content-box;
    @include backgroundImage();
    height: 900px;

    .practica {
        height: 900px;

        .practica-descripcion {
            float: right;
            max-width: 60%;
            padding: 80px 60px;
            background: rgba(255,255,255,.8);
            min-height: 100%;
    
            h2 {
                text-transform: uppercase;
                letter-spacing: 1.8px;
                font-size: 40px;
                font-weight: 700;
            }
    
            p {
                margin-bottom: 15px;
    
                i {
                    font-size: 30px;
                    margin-bottom: 15px;
                    color: $mainColor;
                }
            }
        }

        @media only screen and (max-width: 767px) {
            .practica-descripcion {
                max-width: 100%;
                padding: 30px 15px;    
            }
        }
        
        @media only screen and (min-width: 768px) {
            .practica-descripcion {
                max-width: 60%;
                padding: 100px 50px 0px;    
            }   
        }
    }
}

@media only screen and (max-width: 400px) {

    #practica {
        height: 1000px; 

        .practica {
            height: 1000px;    
        }
    } 
}


/* Fotos en prácticas */
$practicas:
transito,
accidente,
perjuicios,
praxis,
laboral;

@each $practica in $practicas {
    
    .#{$practica} {

        @if $practica == transito {
            background-image: url('../img/#{$practica}.jpg');
        }

        @else if $practica == accidente {
            background-image: url('../img/#{$practica}.jpg');
        }

        @else if $practica == perjuicios {
            background-image: url('../img/#{$practica}.jpg');
        }

        @else if $practica == praxis {
            background-image: url('../img/#{$practica}.jpg');
        }

        @else if $practica == laboral {
            background-image: url('../img/#{$practica}.jpg');
        }
    
        @else {
            background-image: url('../img/accidente.jpg')
        }
    }
}

