.testimonios {

    margin: 100px auto 100px;
    padding: 0 50px;

    h2 {
        font-size: $fs40;
        letter-spacing: 1.8px;
        margin-bottom: 40px;
    }

    .testi {
        
        @include displayflex();

        .testimonio {
            padding: 20px;
            border: 1px solid $white;
            border-radius: 20px;
            margin-top: 25px;

            &:hover {
                box-shadow: 4px 4px 6px -3px $mainColor !important;
            }

            h4 {
                margin-bottom: 15px;
            }
        }
    }
}

@media only screen and (max-width: 466px) {

    .testimonios {
        padding: 0 20px;

        h2 {
            font-size: 30px;    
        }
    }
    
}

/* Testimonios hover solo en index.html */
$nombres:
pepito,
juanito,
pedrito;

@each $testimonio in $nombres {
    
    .#{$testimonio}:hover  {

        color: $blanco;

        @if $testimonio == pepito {
            background-color: $mainColor;
        }

        @else if $testimonio == juanito {
            @include backgroundColor($blanco, $myBlack);
        }
    
        @else {
            background-color: $mainColor;
        }
    }
}