@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@300;500;700&display=swap";

$mainColor: #B68D40;
$myBlack: #2a2a2a;
$white: #fff;
$black: #000;
$mainShadow: rgba(0,0,0,0.5);
$myGris: #606060;
$grisOscuro: #333;
$grisClaro: #999;
$blanco: #eee;
$verdeWp: #3da733;
$fondoGris: rgb(62, 61, 61);

$fontBody: 'Montserrat', sans-serif;
$fontH:'Roboto', sans-serif;

$boxShadowWhite: 0 0 5px #fff;
$textShadowBig: 5px 5px 10px $grisOscuro;

$fs40: 40px;
$fs28: 28px;
$fs20: 20px;
$fs18: 18px;

$m50: 50px;

$s100: 100%;

@mixin grids ($number, $justify) {
    grid-area: $number;
	justify-self: $justify;
}

@mixin displayflex() {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
